@{
	ViewData["Title"] = "Parcel Received";
	Layout = null;
	var requestId = ViewData["RequestId"] as string;
}
<!DOCTYPE html>
<html>
    <head>

        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="icon" type="image/png" href="~/THLogos/icon.png" />
        <title>THS | Login</title>

        <link href="~/css_free/bootstrap.min.css" rel="stylesheet">
        <link href="~/font-awesome/css/font-awesome.css" rel="stylesheet">

        <link href="~/css_free/animate.css" rel="stylesheet">
        <link href="~/css_free/style.css" rel="stylesheet">
        <!-- Mainly scripts -->
        <script src="https://repo.aunasin.com/assets/tths/js_free/jquery-3.7.1.js.js"></script>
        @*<script src="https://repo.aunasin.com/assets/tths/js_free/bootstrap.min.js"></script>*@
        <script src="https://repo.aunasin.com/assets/tths/js_free/plugins/metisMenu/jquery.metisMenu.js"></script>
        <script src="https://repo.aunasin.com/assets/tths/js_free/plugins/slimscroll/jquery.slimscroll.min.js"></script>

        <!-- Custom and plugin javascript -->
        <script src="https://repo.aunasin.com/assets/tths/js_free/inspinia.js"></script>
        <script src="https://repo.aunasin.com/assets/tths/js_free/plugins/pace/pace.min.js"></script>

        <!-- Steps -->
        <script src="https://repo.aunasin.com/assets/tths/js_free/plugins/staps/jquery.steps.min.js"></script>

        <!-- Jquery Validate -->
        @*<script src="https://repo.aunasin.com/assets/tths/js_free/plugins/validate/jquery.validate.min.js"></script>*@

        @*for sweetalert*@
        <script src="https://repo.aunasin.com/assets/tths/js_free/plugins/sweetalert/sweetalert.min.js"></script>
        @*end for sweetalert*@
        <!-- Input Mask-->
        <script src="https://repo.aunasin.com/assets/tths/js_free/plugins/jasny/jasny-bootstrap.min.js"></script>
    </head>
    <body class="gray-bg">
        <div class="loginColumns animated fadeInDown">
       @*  <img src="@Url.Content("~/assets/tths/THLogos/TranspoHub.png")" /> *@

       <img src="https://repo.aunasin.com/assets/tths/THLogos/TranspoHub.png" width="100%" height="50px" />

            <div class="ibox-content">
                <center><h3>Parcel Receiving Form</h3></center>
                <form method="post" id="parcelReceivingForm" asp-action="ParcelReceivedForm" asp-controller="Parcel">
                    <input type="hidden" id="requestId" name="requestId" value="@requestId" />
                    <h4>Request Id: <u>@requestId</u></h4>
                    <br />
                    <div class="form-group row">
                        <label for="receivedDate" class="control-label col-sm-3">Received Date:</label>
                        <div class="col-sm-6">
                            <input id="receivedDate" name="receivedDate" class="form-control" type="date" required />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="receivedTime" class="control-label col-sm-3">Received Time:</label>
                        <div class="col-sm-8">
                            <div class="input-group clockpicker" data-autoclose="true" style="width:25%;">
                            <input type="text" id="receivedTime" name="receivedTime" class="form-control" value="00:00" data-mask="99:99" required>
                                @*
                                <span class="input-group-addon">
                                    <span class="fa fa-clock-o"></span>
                                </span>
                                *@
                            </div>
                        </div>
                    </div>
                    <br />
                    <button type="submit" form="parcelReceivingForm" class="btn btn-primary block full-width m-b">Tag as Received</button>
                </form>
            </div>
        </div>       
    </body>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
</html>
<script>
    $(document).ready(function(){
        let today = new Date().toISOString().split('T')[0];
        let now = new Date().toTimeString().slice(0, 5);
        $('#receivedDate').val(today);
        $('#receivedTime').val(now);
    });
</script>